*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 150px;
    background-color: gray;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
}
.logo img{
    width: 150px;
   border-radius: 100%;
    background-color: white;
    margin-right: 400px;
}
p{
    position: relative;
    font-size: 30PX;
    color: red;
    right: 380PX;
}
.lesElementsdeNarbar{
    display: flex;
    color: black;
}
.lesElementsdeNarbar li {
    list-style: none;
}
.lesElementsdeNarbar li a{
    text-decoration: none;
    padding: 20px;
    color: white;

}
.lesElementsdeNarbar li a:hover{
    background-color: blanchedalmond;
    color: black;
}
.laPremièreImage img{
    position: relative;
    width: 100%;
    height: 530px;
    top: 150px;
}
.lesActivites p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: 30px;
}
.deuxieme{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
    top: 260px;
}
.service h2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    top: 300px;
}
.tisserand1 img{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: black;
    top: 380px;
    left: 100px;
}
.tisserand2{
    position: relative;
    width: 400px;
    height: 400px;
    left: 490px;
    top: 170px;
}
.lesEcrituredeTisserand h3{
    position: relative;
    font-size: 30px;
    left: 900px;
    top: -390px;
    color: orange;
}
.lesEcrituredeTisserand h1{
    position: relative;
    left: 900px;
    width: 100%;
    top: -300px;
}
.lesEcrituredeTisserand h4{
    position: relative;
    left: 900px;
    top: -230px;
    font-size: 15px;
}
.lesEcrituredeTisserand button{
    position: relative;
    width: 120px;
    height: 50px;
    left: 900px;
    top: -180px;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    outline-style: none;
}
.bande-blanc{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: black;
    top: -150px;
}
.cotemenisuer img{
    position: relative;
   width: 300px;
   height: 300px;
   left: 500px;
}
.cotemenisuer1 img{
    position: relative;
   width: 300px;
   height: 300px;
   left: 700px;
   top: -60px;
}
.paragrapheMenisuer p{
    left: 100px;
    top: -580px;
    font-size: 20px;
}
.paragrapheMenisuer h2{
    position: relative;
    left: 100px;
    top: -560px;
    font-size: 50px;
}
.paragrapheMenisuer h4{
    position: relative;
    left: 100px;
    top: -500px;
    font-size: 14px;
}
.buttonMenisuer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    top: -450px;
    left: 80px;
    border-radius: 40px;
    background-color: orangered;
    outline-style: none;
    color: white;
    cursor: pointer;
}
.cotéCoiffeure img{
    position: relative;
    width: 350px;
    height: 350px;
    left: 150px;
}
.coiffeur2 img{
    position: relative;
    width: 350px;
    height: 350px;
    left: 300px;
    top: -100px;
 }
 .cotéCoiffeure h4{
   position: relative;
   left: 900px;
   top: -560px;
   color: orangered;
 }
 .cotéCoiffeure h1{
    position: relative;
    left: 900px;
    top: -500px;
 }
 .cotéCoiffeure h3{
    position: relative;
    left: 900px;
    top: -400px;
    font-size: 16px;
    justify-content: space-between;
 }
 .coiffure{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    left: 900px;
    top: -320px;
    border-radius: 40px;
    background-color: orangered;
    outline-style: none;
    color: white;
    cursor: pointer;
}
.bijou img{
    position: relative;
    width: 600px;
    height: 350px;
    left: 600px;
    top: 50px;
}
.bijou h1{
    position: relative;
    left: 30px;
    top: -480px;
    font-size: 20px;
    color: orangered;
}
.bijou h2{
    position: relative;
    left: 30px;
    top: -440px;
    font-size: 40PX;
}

.bij img{
    width: 400px;
    height: 250px;
    left: 900px;
    top: -60px;
}
.bijou h4{
    position: relative;
    left: 30px;
    top: -400px;
}
.bijouteries{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    left: 200px;
    top: -320px;
    border-radius: 40px;
    background-color: orangered;
    outline-style: none;
    color: white;
    cursor: pointer;
}
.verslaFin h1{
 display: flex;
 justify-content: center;
 align-items: center;
 color: orangered;
 font-size: 40px;
}
.laDisponibilite h1{
    position: relative;
    top: 300px;
    left: 100px;
    color: blue;
    font-size: 15px;
}
.laDisponibilite h3{
    position: relative;
    top: 320px;
    left: 100px;
    font-size: 10px;
}
.qualite h1{
    position: relative;
    top: 230px;
    left: 400px;
    color: blue;
    font-size: 15px;
}
.qualite h3{
    position: relative;
    top: 250px;
    left: 400px;
    font-size: 10px;
}
.solution h1{
    position: relative;
    top: 160px;
    left: 700px;
    color: blue;
    font-size: 15px;
}
.solution h3{
    position: relative;
    top: 180px;
    left: 700px;
    font-size: 10px;
}
.mesure h1{
    position: relative;
    top: 100px;
    left: 1000px;
    color: blue;
    font-size: 15px;
}
.mesure h3{
    position: relative;
    top: 120px;
    left: 1000px;
    font-size: 10px;
}
.reference h1{
    position: relative;
    top: 400px;
    left: 550px;
    color: blue;
}
.references img{
    position: relative;
    width: 100px;
    height: 100px;
    top: 450px;
   padding: 20px;
   left: 400px;
   animation-duration: 8s;
   animation-name: mesImages;
   animation-iteration-count: infinite;

}
@keyframes mesImages{
    0%{
        transform: translateX(640px);
    }
    25%{
        transform: translateX(-640px);
    }
    50%{
        transform: translateX(-1280px);
    }
    75%{
        transform: translateX(-1920);
    }
    100%{
        transform: translateX(640px);
    }
}




    

    
 